body {
  background-color:$background-color;
  text-align:center;
  font-family: "Open Sans", sans-serif;
  padding:0px;
  margin:0px;
}

a{
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:focus,
  &:active,
  &:hover {
    color: $accent-color-1;
    text-decoration: none;
    border:0px;
    outline: none;
  }


}